
/*index*/

main
{   
    background-color: rgb(255, 255, 255);
}

.foto-bajonav img
{
width: 100%;
}

.h1main
{
    margin-left: 5%;
    margin-right: 5%;
}   

.video-container
{
    display: flex;
    padding-top: 35px;
    justify-content: center;
    padding-bottom: 35px;
    
}

.videom1
{
    width: 400px;
    height: 715px;
}

.text-princ
{
    margin-left: 5%;
    margin-right: 5%;
}
